$grayDark:    #38322d;
$grayMedium:  #495353;
$grayBasic:   #87888a;
$grayLight:   #ebe8e5;
$orange:      #ef7f00;

$font-family-sans-serif: 'Open Sans', Arial, Helvetica, sans-serif;
$body-color: $grayMedium;
