/*  basic layout
 *  - all rules for the basic design
 */

// set the defaults for all responsive levels here
// desktop first (>1400px)

  .container {
    min-width: 320px;
  }

  // always use full screen height
  .body-box {
    display: flex;
    flex-direction: column;
    height: 100vh;
    & > header {
      flex-shrink: 0;
    }
    & > section {
      flex: 1 0 auto;
    }
    & > footer {
      flex-shrink: 0;
    }
  }

  .qed-content {
    min-height: 40rem;
    padding-top: 6rem;
    padding-bottom: 8rem;
  }

  // moves the submenu outside of the container
  // and use full container width
  .project-sub-menu {
    width: 20%;
    margin-left: -20%;
  }
  .project-content {
    width: 100%;
  }

// Full HD devices and below: <= 1920px
@include media-breakpoint-down(fhd) {
  // add/overwrite styles for responsive level fhd and lower

  // restore bs default behaviour
  .project-sub-menu {
    margin-left: 0;
    width: 25%;
  }
  .project-content {
    width: 75%;
  }
}

// Extra large devices (large desktops) and below: <= 1400px
@include media-breakpoint-down(xxl) {
  // add/overwrite styles for responsive level xxl and lower
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(xl) {
  // add/overwrite styles for responsive level xl and lower
  // restore bs default behaviour
  .project-sub-menu {
    width: 100%;
  }
  .project-content {
    width: 100%;
  }
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}
