/*  regests
 *  - settings for the regest section
 */

// set the defaults for all responsive levels here
// desktop first (>1400px)

  .sosu-detail-view {
    &__metadata {
      margin-top: 3rem;
      padding-bottom: 2rem;
      border-bottom: 1px solid $grayBorder;
      .bi {
        margin-right: 0.1rem;
      }
    }
    &__copyrights {
      margin-top: .5rem;
      &--images {
        text-align: right;
        margin-bottom: 3rem;
      }
    }
  }

  .sosu-document-translations {
    display: flex;
    flex-direction: column;
  }


// Extra large devices (large desktops) and below: <= 1400px
@include media-breakpoint-down(xxl) {
  // add/overwrite styles for responsive level xxl and lower
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(xl) {
  // add/overwrite styles for responsive level xl and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}
