/*  footer
 *  - settings for the footer
 */

// set the defaults for all responsive levels here
// desktop first (>1400px)

  .qed-footer {
    border-top: 3px solid $grayLight;
    background-color: $grayBack;

    &__nav {
      padding: 2rem 0 3rem 0;
      .nav-link {
        color: $grayMedium;
        text-decoration: none;
        display: block;
        font-weight: 700;
        &:hover {
          color: $grayMedium;
        }
      }
    }

    &__links {
      margin-right: 5rem;
      .p-link {
        font-weight: bold;
      }
    }

    &__logo {
      order: 1;
      margin-top: 0.5rem;
      img {
        width: 180px;
      }
    }

    &__menu {
      order: 2;
    }

    &__social {
      order: 3;
      i {
        font-size: 20px;
        color: $orange;
        margin-right: 1rem;
      }
    }

    &__perspectivia {
      order: 4;
      margin-top: 0.5rem;
      .perspectivia-box {
        max-width: 350px;
      }
      a {
        display: block;
        text-align: end;
      }
    }

    &__credits {
      background-color: $creditBlack;
      padding: 1.25rem;
      .copyright_by {
        display: flex;
        align-items: center;
        height: 100%;
      }
      .mws-link {
        font-size: 16px;
        color: white;
        text-decoration: none;
        &:hover {
          color: white;
        }
      }
    }

  }

// Extra large devices (large desktops) and below: <= 1400px
@include media-breakpoint-down(xxl) {
  // add/overwrite styles for responsive level xxl and lower
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(xl) {
  // add/overwrite styles for responsive level xl and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  .qed-footer {
    &__perspectivia {
      margin-top: 2rem;
    }
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  .qed-footer {
    &__logo {
      order:3;
      margin-top: 2rem;
    }
    &__menu {
      order: 1;
      ul {
        margin-left: -1rem;
      }
    }
    &__social {
      order:2;
      ul {
        margin-left: -1rem;
      }
    }
    &__perspectivia {
      order: 4;
    }
  }
  .project-powered-by {
    margin-top: 2rem;
  }
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
  .qed-footer {
    &__logo,
    &__menu,
    &__social,
    &__perspectivia {
      display: flex;
      justify-content: center;
    }
    &__perspectivia {
      margin-top: 3rem;
      a {
        display: block;
        text-align: start;
      }
    }
  }
}
