/*  project menus
 *  - settings for the project menus
 */

// set the defaults for all responsive levels here
// desktop first (>1400px)


  .qed-sub-menu {
    margin-bottom: 5rem;
    .nav-link,
    .dropdown-item {
      color: $grayMedium;
      background-color: $grayBorder;
      margin-right: 1rem;
      box-shadow: 0px 0px .5rem 0.5rem rgba(255,255,255,0.9);
      border-radius: 4rem;
      margin-top: 1rem;
      &:hover {
        color: white;
        background-color: $grayMedium;
      }
    }
    .dropdown-item {
      margin-top: 0rem;
    }
    .nav-link.active,
    .dropdown-item.active,
    .nav-link.show {
      color: white;
      background-color: $petrol;
      font-weight: normal;
    }
    .dropdown-menu {
      border: none;
      background-color: transparent;
      .dropdown-item {
        margin-bottom: .5rem;
      }
    }
  }

  .project-sub-menu {
    nav {
      background-color: $grayBack;
      border-radius: 1rem;
      padding: 1rem;
      width: 100%;
    }
  }
  .project-sub-headline {
    margin-bottom: 2rem;
  }

  .offcanvas-body {
    flex-wrap: wrap;
  }


// Extra large devices (large desktops) and below: <= 1400px
@include media-breakpoint-down(xxl) {
  // add/overwrite styles for responsive level xxl and lower
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(xl) {
  // add/overwrite styles for responsive level xl and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}
