/*  project-page
 *  - settings for project pages
 */

// set the defaults for all responsive levels here
// desktop first (>1400px)

  .project-content {
    padding-top: 1rem;
    h3 {
      margin-bottom: 1rem;
    }
  }

  .project-headline {
    margin-top: -6rem;
    margin-bottom: 1rem;
    background-color: $grayBack;
    padding-top: 2rem;
    padding-bottom: 1rem;
    overflow: hidden;
    .container {
      position: relative;
    }
    &__back {
      position:absolute;
      bottom: 0;
      img {
        height: 20rem;
      }
      &--start {
        left: -26.6875rem; //459px image width on 20 rem height
        img {
          filter: brightness(0) saturate(100%) invert(16%) sepia(96%) saturate(3506%) hue-rotate(176deg) brightness(90%) contrast(101%);
        }
      }
      &--end {
        right: -26.6875rem;
      }
    }
    &__title {
      align-self: flex-end;
      color: $petrol;
    }
    &__figure {
      align-self: flex-start;
      text-align: right;
      margin-right: 3rem;
      position: absolute;
      bottom: 0;
      img {
        width: 20rem;
        height: 20rem;
        border-radius: 50%;
        object-fit: cover;
      }

      &--sosu {
        img {
          object-position: 10%;
        }
      }
    }
    &--home {
      .project-headline{
        &__figure {
          position: static;
          img {
            width: 20rem;
            height: 20rem;
            object-fit: cover;
          }
        }
      }
    }
  }

  .project-institute {
    padding: 1.5rem 0;
    img {
      width: 10rem;
    }
  }



// Extra large devices (large desktops) and below: <= 1400px
@include media-breakpoint-down(xxl) {
  // add/overwrite styles for responsive level xxl and lower
}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(xl) {
  // add/overwrite styles for responsive level xl and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower

  .project-institute {
    padding: 0 0;
    margin-bottom: 2rem;
  }

  .project-headline {
    &__figure {
      right: -15rem;
    }
  }

  .project-headline {
    &--home {
      .project-headline {
        &__title {
          display: flex;
          align-items: flex-end;
          &::after {
            content: " ";
            display: block;
            height: 20rem;
            width: 1px;
          }
        }
        &__figure {
          position: absolute;
          bottom: 0;
          right: -15rem;
        }
      }
    }
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}
