// basic layout
.body-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  & > header {
    flex-shrink: 0;
  }
  & > section {
    flex: 1 0 auto;
  }
  & > footer {
    flex-shrink: 0;
  }
}

// header
.project-header {
  background-color: $petrol;
  position: relative;

  // parent
  &__parent {
    position: absolute;
    left: 0;
    height: 40px;
    z-index:1000;
    a {
      display: block;
      height: 100%;
    }
    img {
      height: 100%;
      border-right: 2px solid white;
    }
  }
  // name
  &__project {
    position: absolute;
    left: 0;
    height: 40px;
    z-index:999;
    h1 {
      margin: 0;
      height: 100%;
    }
    a {
      font-size: 1.5rem;
      font-weight: normal;
      display: block;
      height: 100%;
      color: white;
      padding: 0 1rem 0 3rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:hover {
        color: $petrol;
        background-color: white;
      }
    }
  }

  // main and language menu
  &__menu,
  &__language {
    display: flex;
    align-items: center;
    nav {
      padding: 0;
    }
    .nav-link {
      color: white;
      &:hover {
        color: $petrol;
        background-color: white;
      }
      &.active {
        color: $petrol;
        background-color: white;
      }
      &[id=languageDropdown] {
        margin-left: 5rem;
        &:hover {
          color: white;
          background-color: transparent;
        }
      }
    }
    .navbar-toggler {
      margin: 10px 0;
    }
  }
}

// content
.project-content {
  min-height: 40rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
}
.card-img-top.fixed-height {
  height: 20rem;
  object-fit: cover;
}
.card-footer.no-back {
  border-top: none;
  background-color: white;
}

// footer
.project-footer {
  &__menu {
    background-color: $petrol;
    .project-copyright {
      height: 100%;
      display: flex;
      align-items: center;
      a {
        color: white;
        text-decoration: none;
      }
    }
    .nav-link {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
  &__credits {
    background-color: $grayDark;
    padding: 1.25rem;
  }
}

.beta-batch {
  position: absolute;
  top: 0;
  right: -2rem;
  z-index: 1001;
}


// ==== media queries ====
@include media-breakpoint-down(xxl) {
  .project-header {
    &__logos {
      display: none;
    }
  }
}

@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
  .project-header {
    &__menu {
      .navbar-nav {
        .nav-link {
          &[id=languageDropdown] {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .project-header {
    &__project,
    &__parent {
      height: 60px;
    }
    &__project a {
      padding-left: 4rem;
    }
    &__menu {
      .navbar-nav {
        margin-top: 1rem;
        margin-bottom: 1rem;
        .nav-link {
          padding-left: 1rem;
          &[id=languageDropdown] {
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .beta-batch {
    top: 10px;
  }
}

@include media-breakpoint-down(sm) {
}
