// basic layout
.body-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: calc(13.5rem + 71px);
  & > header {
    flex-shrink: 0;
  }
  & > section {
    flex: 1 0 auto;
  }
  & > footer {
    flex-shrink: 0;
  }
}

// header
.project-header {
  box-shadow: 0px 4px 3px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  z-index: 1001;
  right: 0;
  width: 100%;
  min-width: 320px;
  background-color: white;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;

  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--menu {
      ul {
        margin-right: 3rem;
      }
    }
  }
  &__logo {
    align-self: center;
    position: relative;
    img {
      width: 460px;
    }
  }
  .beta-batch {
    position: absolute;
    top: 0;
    right: -32px;
    z-index: 1001;
    img {
      width:32px;
    }
  }
  &__menu {
    .navbar-toggler {
      &__label {
        font-size: 18px;
        margin-right: 0.5rem;
        color: $grayMedium;
      }
      &-icon {
        width: 1.2rem;
        height: 1.2rem;
      }
    }
    .navbar-toggler[aria-expanded=true] {
      .navbar-toggler-icon {
        background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ef7f00'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.6em auto no-repeat;
      }
    }
  }
  #qed-main-menu {
    position: absolute;
    top: 5rem;
    right: 0px;
    padding: 1rem;

    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 6px #00000029;
    border-radius: 0px 0px 25px 25px;
    opacity: 1;
  }
}


// content
.project-content {
  min-height: 40rem;
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.card h5 {
  font-size: 1.25rem;
}
.card-img-top.fixed-height {
  height: 20rem;
  object-fit: cover;
}
.card-footer.no-back {
  border-top: none;
  background-color: white;
}
#navbarSupportedContent {
  border: 1px solid $petrol;
  border-width: 1px 0;
}

.gpo-headline {
  display: flex;
  justify-content: space-between;
  h1 {
    color: $grayMedium;
    margin-bottom: 1rem;
    color: $grayMedium;
  }
  img {
    height: 50px;
  }
}
.gpo-main-menu {
  margin-bottom: 4rem;
}
.gpo-sub-menu {}
.gpo-sub-headline {
  margin-bottom: 2rem;
}
.gpo-content {
  padding-top: 1rem;
  h3 {
    margin-bottom: 1rem;
  }
}
.content-intro {
  .not-active {
    .card-footer {
      color: white;
      background-color: $petrol;
      opacity: .6;
    }
    img {
      opacity: 0.5;
    }
  }
}

.regest-detail-view {
  a {
    //margin-left: 0.5rem;
  }
  .prev,
  .next,
  .index {
    a {
      display: block;
      text-decoration: none;
      padding: 0.5rem;
      &:hover {
        color: white;
        background-color: $primary;
      }
    }
  }
  .prev {
    border-right: none;
  }
  .index {
    padding: 0.5rem;
    border: 1px solid $grayBorder;
    margin-bottom: -1px;
    border-bottom: 1px solid white;
  }
  .next {
    border-left: none;
  }
  .heading {
    margin-bottom: 1.25rem;
    h4 {
      font-size: 1.5rem;
    }
  }
  .section {
    margin-bottom: 1rem;
    dt {
      font-weight: normal;
    }
    dd {
      padding-left: 2rem;
    }
  }
}
.regest-detail-view__content {
  border: 1px solid $grayBorder;
  padding: 2rem 1rem 3rem 1rem;
  h5 {
    font-weight: 700;
  }
}
.regest-detail-view__footer {
  margin-top: .5rem;
  color: $grayBasic;
}

.cite {
  margin-right: 1rem;
}

.cite-switch {
  cursor: pointer;
  color: white;
  background-color: $primary;
}

.regest-licence {
  img {
    height: 2rem;
    margin-left: .5rem;
    opacity: 0.5;
  }
}

.no-underline {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.external-links {
  a:not(.no-external-mark)[href*="//"]:not([href*="qed.perspectivia.net"]) {
    padding-right: 1.4rem;
    position: relative;
    display:inline-block;
    &::after {
      content: "\F1C5";
      font-family: bootstrap-icons;
      position: absolute;
      bottom: 0;
      right: auto;
      color: $secondary;
      margin-left: .25rem;
    }
  }
}

.cc-by {
  position: relative;
  &__text {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: rgba(255,255,255,.6);
    padding: 0 .5rem;
    font-size: 0.8rem;
  }
}

.nav-link.active {
  font-weight: 700;
  color: $petrol;
  &:hover {
    font-weight: 700;
    color: $petrol;
  }
}

p {
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;

  -webkit-hyphenate-limit-before: 3; /* For Safari */
  -webkit-hyphenate-limit-after: 4; /* For Safari */
  -ms-hyphenate-limit-chars: 10 3 4;
  hyphenate-limit-chars: 10 3 4;
}

.facet-item {
  overflow-wrap: anywhere;
}

// footer
.project-footer {
  border-top: 3px solid $grayLight;
  background-color: $grayBack;
  &__nav {
    padding: 2rem 0 3rem 0;
    .nav-link {
      color: $grayMedium;
      text-decoration: none;
      display: block;
      font-weight: 700;
      &:hover {
        color: $grayMedium;
      }
    }
  }
  &__links {
    margin-right: 5rem;
    .p-link {
      font-weight: bold;
    }
  }
  &__menu {}
  &__social {
    i {
      font-size: 20px;
      color: $orange;
      margin-right: 1rem;
    }
  }
  &__logo {
    margin-top: 0.5rem;
    img {
      width: 180px;
    }
  }
  &__credits {
    background-color: #191C1C;
    padding: 1.25rem;
    .copyright_by {
      display: flex;
      align-items: center;
      height: 100%;
    }
    .mws-link {
      font-size: 16px;
      color: white;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }
  }
}

.smallcaps {
  font-variant: small-caps;
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;
  }
}

.metadata {
  h3 {
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid $grayBorder;
  }
  dt {
    width: 20%;
    text-align: right;
    float: left;
    color: #999;
    font-weight: normal;
    clear: both;
    margin-bottom: 1rem;
  }
  dd {
    float: left;
    margin-left: 1rem;
    width: 75%;
    margin-bottom: 1rem;
  }
}

.icon-link {
  text-decoration: none;
}

.popout-wrapper {
  .bi {
    margin-right: .25rem;
  }
}
.regest-detail-view {
  .popout-wrapper {
    .bi {
      margin-right: .1rem;
    }
  }
}

.link-list {
  a {
    margin-top: .5rem;
    margin-right: 1rem;
  }
}

.list-group-item {
  padding: 1rem;
  border-bottom: 1px solid $grayBorder;
}

.link-note {
  vertical-align: super;
  font-size: 80%;
  padding-left: .2rem;
}

.note {
  display: flex;
  margin-bottom: .5rem;
  border-bottom: 1px solid #ccc;
  div {
    flex-basis: 90%;
    &.notenumber {
      flex-basis: 2rem;
    }
  }

}
#note-1 {
  margin-top: 2rem;
  border-top: 2px solid #a3a3a3;
  padding-top: 1rem;
}

// ==== media queries ====
@include media-breakpoint-down(xxl) {
  .project-header {
    &__logos {
      display: none;
    }
  }
}

@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
  .project-header {
    &__menu {
      .navbar-nav {
        .nav-link {
          &[id=languageDropdown] {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .project-header {
    &__project,
    &__parent {
      height: 60px;
    }
    &__project a {
      padding-left: 4rem;
    }
    &__menu {
      .navbar-nav {
        margin-top: 1rem;
        margin-bottom: 1rem;
        .nav-link {
          padding-left: 1rem;
          &[id=languageDropdown] {
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .beta-batch {
    top: 10px;
  }
}

@include media-breakpoint-down(sm) {
}
