// basic layout
.body-box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  & > header {
    flex-shrink: 0;
  }
  & > section {
    flex: 1 0 auto;
  }
  & > footer {
    flex-shrink: 0;
  }
}

// header
.project-header {
  background-color: $petrol;
  position: relative;

  // parent
  &__parent {
    position: absolute;
    left: 0;
    height: 40px;
    z-index:1000;
    a {
      display: block;
      height: 100%;
    }
    img {
      height: 100%;
      border-right: 2px solid white;
    }
  }
  // name
  &__project {
    position: absolute;
    left: 0;
    height: 40px;
    z-index:999;
    h1 {
      margin: 0;
      height: 100%;
    }
    a {
      font-size: 1.2rem;
      font-weight: normal;
      display: block;
      height: 100%;
      color: white;
      padding: 0 1rem 0 3rem;
      text-decoration: none;
      display: flex;
      align-items: center;
      &:hover {
        color: $petrol;
        background-color: white;
      }
    }
  }

  .beta-batch {
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: -2.4rem;
    z-index: 1001;
  }

  // main and language menu
  &__menu,
  &__language {
    display: flex;
    align-items: center;
    nav {
      padding: 0;
    }
    .nav-link {
      color: white;
      &:hover {
        color: $petrol;
        background-color: white;
      }
      &.active {
        color: $petrol;
        background-color: white;
      }
      &[id=languageDropdown] {
        margin-left: 5rem;
        &:hover {
          color: white;
          background-color: transparent;
        }
      }
    }
    .navbar-toggler {
      margin: 10px 0;
    }
  }
}

// content
.project-content {
  min-height: 40rem;
  padding-top: 6rem;
  padding-bottom: 8rem;
}
.card h5 {
  font-size: 1.25rem;
}
.card-img-top.fixed-height {
  height: 20rem;
  object-fit: cover;
}
.card-footer.no-back {
  border-top: none;
  background-color: white;
}
#navbarSupportedContent {
  border: 1px solid $petrol;
  border-width: 1px 0;
}

.gpo-headline {
  display: flex;
  justify-content: space-between;
  h1 {
    color: $grayMedium;
    margin-bottom: 1rem;
    color: $grayMedium;
  }
  img {
    height: 50px;
  }
}
.gpo-main-menu {
  margin-bottom: 4rem;
}
.gpo-sub-menu {}
.gpo-sub-headline {
  margin-bottom: 2rem;
}
.gpo-content {
  padding-top: 1rem;
  h3 {
    margin-bottom: 1rem;
  }
}
.content-intro {
  .not-active {
    .card-footer {
      color: white;
      background-color: $petrol;
      opacity: .6;
    }
    img {
      opacity: 0.5;
    }
  }
}

.regest-detail-view {
  a {
    //margin-left: 0.5rem;
  }
  .prev,
  .next,
  .index {
    a {
      display: block;
      text-decoration: none;
      padding: 0.5rem;
      &:hover {
        color: white;
        background-color: $primary;
      }
    }
  }
  .prev {
    border-right: none;
  }
  .index {
    padding: 0.5rem;
    border: 1px solid $grayBorder;
    margin-bottom: -1px;
    border-bottom: 1px solid white;
  }
  .next {
    border-left: none;
  }
  .heading {
    margin-bottom: 1.25rem;
    h4 {
      font-size: 1.5rem;
    }
  }
  .section {
    margin-bottom: 1rem;
    dt {
      font-weight: normal;
    }
    dd {
      padding-left: 2rem;
    }
  }
}
.regest-detail-view__content {
  border: 1px solid $grayBorder;
  padding: 2rem 1rem 3rem 1rem;
  h5 {
    font-weight: 700;
  }
}
.regest-detail-view__footer {
  margin-top: .5rem;
  color: $grayBasic;
  .footer-persons {
    span {
      display: block;
    }
  }
}
.regest-licence {
  img {
    height: 2rem;
    margin-left: .5rem;
    opacity: 0.5;
  }
}

.no-underline {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }
}

.external-links {
  a:not(.no-external-mark)[href*="//"]:not([href*="qed.perspectivia.net"]) {
    padding-right: 1.4rem;
    position: relative;
    display:inline-block;
    &::after {
      content: "\F1C5";
      font-family: bootstrap-icons;
      position: absolute;
      bottom: 0;
      right: auto;
      color: $secondary;
      margin-left: .25rem;
    }
  }
}

.cc-by {
  position: relative;
  &__text {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3000;
    background-color: rgba(255,255,255,.6);
    padding: 0 .5rem;
    font-size: 0.8rem;
  }
}

.nav-link.active {
  font-weight: 700;
  color: $petrol;
  &:hover {
    font-weight: 700;
    color: $petrol;
  }
}

// footer
.project-footer {
  &__nav {
    padding: 2rem 0 3rem 0;
    background-color: $petrol;
    .nav-link {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
  &__links {
    margin-right: 5rem;
    a {
      color: white;
      text-decoration: none;
      display: block;
    }
    .mws-link{
      margin-top: 0.5rem;
    }
    .p-link {
      font-weight: bold;
    }
  }
  &__menu {}
  &__logo {
    margin-top: 0.5rem;
    text-align: right;
    img {
      width: 180px;
    }
  }
  &__credits {
    background-color: darken($petrol,10%);
    padding: 1.25rem;
  }
}

.smallcaps {
  font-variant: small-caps;
}

h1, h2, h3, h4, h5, h6 {
  a {
    text-decoration: none;
  }
}

.metadata {
  h3 {
    margin-bottom: 2rem;
    padding-bottom: .5rem;
    border-bottom: 1px solid $grayBorder;
  }
  dt {
    width: 20%;
    text-align: right;
    float: left;
    color: #999;
    font-weight: normal;
    clear: both;
    margin-bottom: 1rem;
  }
  dd {
    float: left;
    margin-left: 1rem;
    width: 75%;
    margin-bottom: 1rem;
  }
}

.icon-link {
  text-decoration: none;
}

.popout-wrapper {
  .bi {
    margin-right: .25rem;
  }
}
.regest-detail-view {
  .popout-wrapper {
    .bi {
      margin-right: .1rem;
    }
  }
}

.link-list {
  a {
    margin-top: .5rem;
    margin-right: 1rem;
  }
}

.list-group-item {
  padding: 1rem;
  border-bottom: 1px solid $grayBorder;
}


// ==== media queries ====
@include media-breakpoint-down(xxl) {
  .project-header {
    &__logos {
      display: none;
    }
  }
}

@include media-breakpoint-down(xl) {
}

@include media-breakpoint-down(lg) {
  .project-header {
    &__menu {
      .navbar-nav {
        .nav-link {
          &[id=languageDropdown] {
            margin-left: 0;
          }
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .project-header {
    &__project,
    &__parent {
      height: 60px;
    }
    &__project a {
      padding-left: 4rem;
    }
    &__menu {
      .navbar-nav {
        margin-top: 1rem;
        margin-bottom: 1rem;
        .nav-link {
          padding-left: 1rem;
          &[id=languageDropdown] {
            margin-top: 1rem;
          }
        }
      }
    }
  }
  .beta-batch {
    top: 10px;
  }
}

@include media-breakpoint-down(sm) {
}
