$grayDark:    #38322d;
$grayMedium:  #495353;
$grayBasic:   #87888a;
$grayBorder:  #bfbebe;
$grayLight:   #ebe8e5;
$grayBack:    #F7F7F9;
$orange:      #ef7f00;
$petrol:      #006978;
$red:         #b4192d;
$creditBlack: #191C1C;

$light_neutral: $grayBorder;
$dark_neutral:  $grayBasic;
$white:         white;
$warning:       $red;
$success:       green;
$highlight:     $orange;


$primary: $petrol;
$secondary: $orange;
$danger: $red;
$light: $grayBack;

$font-family-sans-serif: 'Inter', Arial, Helvetica, sans-serif;
$body-color: $grayMedium;

$link-color: $petrol;
$link-decoration: none;

$navbar-toggler-focus-width: 0;
$navbar-light-color: $grayMedium;
$navbar-light-active-color: $petrol;
$navbar-light-hover-color: $grayDark;
$navbar-light-toggler-border-color: transparent;

$navbar-nav-link-padding-x: 1rem;
$border-radius: 0;
$nav-pills-border-radius: 4rem;
$font-size-base: 1rem;

$dropdown-border-color: rgba($petrol, 0.5);
$dropdown-spacer: .5rem;

$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;

$card-border-radius: 1rem;
$card-border-color: $petrol;

$btn-border-radius: 1rem;
$btn-border-radius-sm: 1rem;
$btn-border-radius-lg: 1rem;

$pagination-border-width: 0;
$pagination-font-size: 1rem;
$pagination-padding-y: .5rem;
$pagination-color: $grayMedium;
$pagination-bg: white;
$pagination-active-color: white;
$pagination-active-bg: $grayMedium;
$pagination-active-border-color: white;

$input-border-radius: 1rem;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
  fhd: 1920px
);
