$grayDark:    #38322d;
$grayMedium:  #495353;
$grayBasic:   #87888a;
$grayLight:   #ebe8e5;
$orange:      #ef7f00;
$petrol:      #006978;
$red:         #b4192d;

$primary: $orange;
$secondary: $petrol;
$danger: $red;

$font-family-sans-serif: 'Open Sans', Arial, Helvetica, sans-serif;
$body-color: $grayMedium;
