$grayDark:    #38322d;
$grayMedium:  #495353;
$grayBasic:   #87888a;
$grayBorder:  #bfbebe;
$grayLight:   #ebe8e5;
$grayBack:    #F7F7F9;
$orange:      #ef7f00;
$petrol:      #006978;
$red:         #b4192d;

$primary: $petrol;
$secondary: $orange;
$danger: $red;

$font-family-sans-serif: 'Inter', Arial, Helvetica, sans-serif;
$body-color: $grayMedium;
$link-color: $petrol;

$navbar-toggler-focus-width: 0;
$navbar-light-color: $orange;
$navbar-light-active-color: $orange;
$navbar-light-hover-color: darken($orange,10%);
$navbar-light-toggler-border-color: transparent;

$navbar-nav-link-padding-x: 1rem;
$border-radius: 0;
$font-size-base: 1rem;
$dropdown-border-color: rgba($petrol, 0.5);
$dropdown-spacer: .5rem;
$h1-font-size:                $font-size-base * 2;
$h2-font-size:                $font-size-base * 1.75;
$h3-font-size:                $font-size-base * 1.5;
$h4-font-size:                $font-size-base * 1.25;
$h5-font-size:                $font-size-base;
$h6-font-size:                $font-size-base;

$card-border-radius: 1rem;
$card-border-color: $petrol;

$btn-border-radius: 1rem;
$btn-border-radius-sm: 1rem;
$btn-border-radius-lg: 1rem;