@import url('https://webfonts.gbv.de/css2?family=Inter:wght@100..900&display=swap');

@import "_variables";
@import  "../node_modules/bootstrap/scss/bootstrap";

@import "_common";
@import "_basic-layout";
@import "_typo";
@import "_header";
@import "_menu-main";
@import "_menu-project";
@import "_tiles";
@import "_results";
@import "_footer";

@import "page-home";
@import "page-project";
@import "content-regests";
